In [1]:
import pandas as pd

# 理解

In [17]:
df_action = pd.read_csv('datalab/eleme_round1_train_20200313/action/action_20200201.txt')
df_action.head()

,courier_id,wave_index,tracking_id,courier_wave_start_lng,courier_wave_start_lat,action_type,expect_time
0,100002543,0,2100074542836254538,121.635755,39.141497,PICKUP,1580519756
1,100002543,0,2100074536706869066,121.635755,39.141497,PICKUP,1580519758
2,100002543,0,2100074542836254538,121.635755,39.141497,DELIVERY,1580520355
3,100002543,0,2100074536706869066,121.635755,39.141497,DELIVERY,1580520770
4,100002543,1,2100074546090674142,121.631040,39.137702,PICKUP,1580524466

In [18]:
df_action.shape

(14222, 7)

In [19]:
df_action.action_type.value_counts()

PICKUP      7111
DELIVERY    7111
Name: action_type, dtype: int64

In [20]:
df_action.wave_index.nunique()

14

In [22]:
df_action.nunique()

courier_id                  665
wave_index                   14
tracking_id                7111
courier_wave_start_lng     2401
courier_wave_start_lat     2399
action_type                   2
expect_time               12004
dtype: int64

每个骑士之间都是独立的，拉出一个骑士来观察

In [27]:
df_action[df_action.courier_id == 100002543]

,courier_id,wave_index,tracking_id,courier_wave_start_lng,courier_wave_start_lat,action_type,expect_time
0,100002543,0,2100074542836254538,121.635755,39.141497,PICKUP,1580519756
1,100002543,0,2100074536706869066,121.635755,39.141497,PICKUP,1580519758
2,100002543,0,2100074542836254538,121.635755,39.141497,DELIVERY,1580520355
3,100002543,0,2100074536706869066,121.635755,39.141497,DELIVERY,1580520770
4,100002543,1,2100074546090674142,121.631040,39.137702,PICKUP,1580524466
5,100002543,1,2100074546118723550,121.631040,39.137702,PICKUP,1580524468
6,100002543,1,2100074546090674142,121.631040,39.137702,DELIVERY,1580525047
7,100002543,1,2100074546118723550,121.631040,39.137702,DELIVERY,1580525705
8,100002543,2,2100074571487053444,121.642295,39.135482,PICKUP,1580549892
9,100002543,2,2100074572925863604,121.642295,39.135482,PICKUP,1580550426
10,100002543,2,2100074572925863604,121.642295,39.135482,DELIVERY,1580550955
11,100002543,2,2100074571487053444,121.642295,39.135482,DELIVERY,1580551408

# 导航数据

In [28]:
df_distance = pd.read_csv('datalab/eleme_round1_train_20200313/distance/distance_20200201.txt')
df_distance.head()

,courier_id,wave_index,tracking_id,source_type,source_lng,source_lat,target_tracking_id,target_type,target_lng,target_lat,grid_distance
0,100002543,0,2100074536706869066,ASSIGN,121.641337,39.141340,2100074542836254538,ASSIGN,121.635755,39.141497,542.0
1,100002543,0,2100074542836254538,PICKUP,121.647214,39.135549,2100074542836254538,ASSIGN,121.635755,39.141497,2042.0
2,100002543,0,2100074542836254538,DELIVERY,121.647324,39.126481,2100074542836254538,ASSIGN,121.635755,39.141497,3343.0
3,100002543,0,2100074536706869066,PICKUP,121.647214,39.135549,2100074542836254538,ASSIGN,121.635755,39.141497,2042.0
4,100002543,0,2100074536706869066,DELIVERY,121.655694,39.123121,2100074542836254538,ASSIGN,121.635755,39.141497,3945.0

In [29]:
df_distance.shape

(215448, 11)

In [30]:
df_distance.nunique()

courier_id              665
wave_index               14
tracking_id            7111
source_type               3
source_lng            15162
source_lat            14881
target_tracking_id     7111
target_type               3
target_lng            15162
target_lat            14881
grid_distance          6823
dtype: int64

In [46]:
df_distance[df_distance.courier_id == 100002543][df_distance.wave_index==0].sort_values(['tracking_id','source_type','target_tracking_id','target_type'])

/Users/kai/Workspace/ele-action/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,courier_id,wave_index,tracking_id,source_type,source_lng,source_lat,target_tracking_id,target_type,target_lng,target_lat,grid_distance
13,100002543,0,2100074536706869066,ASSIGN,121.641337,39.141340,2100074536706869066,DELIVERY,121.655694,39.123121,3648.0
11,100002543,0,2100074536706869066,ASSIGN,121.641337,39.141340,2100074536706869066,PICKUP,121.647214,39.135549,1186.0
0,100002543,0,2100074536706869066,ASSIGN,121.641337,39.141340,2100074542836254538,ASSIGN,121.635755,39.141497,542.0
12,100002543,0,2100074536706869066,ASSIGN,121.641337,39.141340,2100074542836254538,DELIVERY,121.647324,39.126481,2547.0
10,100002543,0,2100074536706869066,ASSIGN,121.641337,39.141340,2100074542836254538,PICKUP,121.647214,39.135549,1186.0
16,100002543,0,2100074536706869066,DELIVERY,121.655694,39.123121,2100074536706869066,ASSIGN,121.641337,39.141340,3592.0
27,100002543,0,2100074536706869066,DELIVERY,121.655694,39.123121,2100074536706869066,PICKUP,121.647214,39.135549,3011.0
4,100002543,0,2100074536706869066,DELIVERY,121.655694,39.123121,2100074542836254538,ASSIGN,121.635755,39.141497,3945.0
28,100002543,0,2100074536706869066,DELIVERY,121.655694,39.123121,2100074542836254538,DELIVERY,121.647324,39.126481,976.0
18,100002543,0,2100074536706869066,DELIVERY,121.655694,39.123121,2100074542836254538,PICKUP,121.647214,39.135549,3011.0
17,100002543,0,2100074536706869066,PICKUP,121.647214,39.135549,2100074536706869066,ASSIGN,121.641337,39.141340,1457.0
25,100002543,0,2100074536706869066,PICKUP,121.647214,39.135549,2100074536706869066,DELIVERY,121.655694,39.123121,3503.0
3,100002543,0,2100074536706869066,PICKUP,121.647214,39.135549,2100074542836254538,ASSIGN,121.635755,39.141497,2042.0
24,100002543,0,2100074536706869066,PICKUP,121.647214,39.135549,2100074542836254538,DELIVERY,121.647324,39.126481,2782.0
19,100002543,0,2100074536706869066,PICKUP,121.647214,39.135549,2100074542836254538,PICKUP,121.647214,39.135549,1.0
8,100002543,0,2100074542836254538,ASSIGN,121.635755,39.141497,2100074536706869066,ASSIGN,121.641337,39.141340,827.0
6,100002543,0,2100074542836254538,ASSIGN,121.635755,39.141497,2100074536706869066,DELIVERY,121.655694,39.123121,3945.0
7,100002543,0,2100074542836254538,ASSIGN,121.635755,39.141497,2100074536706869066,PICKUP,121.647214,39.135549,1671.0
9,100002543,0,2100074542836254538,ASSIGN,121.635755,39.141497,2100074542836254538,DELIVERY,121.647324,39.126481,3343.0
5,100002543,0,2100074542836254538,ASSIGN,121.635755,39.141497,2100074542836254538,PICKUP,121.647214,39.135549,1671.0
14,100002543,0,2100074542836254538,DELIVERY,121.647324,39.126481,2100074536706869066,ASSIGN,121.641337,39.141340,3083.0
29,100002543,0,2100074542836254538,DELIVERY,121.647324,39.126481,2100074536706869066,DELIVERY,121.655694,39.123121,1949.0
26,100002543,0,2100074542836254538,DELIVERY,121.647324,39.126481,2100074536706869066,PICKUP,121.647214,39.135549,2139.0
2,100002543,0,2100074542836254538,DELIVERY,121.647324,39.126481,2100074542836254538,ASSIGN,121.635755,39.141497,3343.0
20,100002543,0,2100074542836254538,DELIVERY,121.647324,39.126481,2100074542836254538,PICKUP,121.647214,39.135549,2139.0
15,100002543,0,2100074542836254538,PICKUP,121.647214,39.135549,2100074536706869066,ASSIGN,121.641337,39.141340,1457.0
22,100002543,0,2100074542836254538,PICKUP,121.647214,39.135549,2100074536706869066,DELIVERY,121.655694,39.123121,3503.0
23,100002543,0,2100074542836254538,PICKUP,121.647214,39.135549,2100074536706869066,PICKUP,121.647214,39.135549,1.0
1,100002543,0,2100074542836254538,PICKUP,121.647214,39.135549,2100074542836254538,ASSIGN,121.635755,39.141497,2042.0
21,100002543,0,2100074542836254538,PICKUP,121.647214,39.135549,2100074542836254538,DELIVERY,121.647324,39.126481,2782.0

导航数据说明：
每个骑士在每一个波次的导航数据包括
1 骑士在被assign订单是所在的位置点
2 每个订单的商家的位置
3 每个订单的客户的位置
例如在一个波次中一个骑士接受了两个单子，那么该骑士接受订单的位置点就会有两个，商户位置有2个，客户位置有2个，共计有6个点
那么这6个点的导航线路共有A62=6*5=30个

In [42]:
df_order = pd.read_csv('datalab/eleme_round1_train_20200313/order/order_20200201.txt')
print(df_order.shape)
df_order.head()

(7111, 15)

,courier_id,wave_index,tracking_id,weather_grade,pick_lng,pick_lat,deliver_lng,deliver_lat,create_time,confirm_time,assigned_time,promise_deliver_time,estimate_pick_time,aoi_id,shop_id
0,100002543,0,2100074536706869066,正常天气,121.647214,39.135549,121.655694,39.123121,1580484067,1580484067,1580519088,1580521500,1580485567,4424963369d15e8900db6cfe732700c3,02615f185581167cc68ba41af3d25ce6
1,100002543,0,2100074542836254538,正常天气,121.647214,39.135549,121.647324,39.126481,1580517517,1580517517,1580518968,1580521500,1580519017,a986694f4dd7e70ea73e2261889cde81,02615f185581167cc68ba41af3d25ce6
2,100002543,1,2100074546090674142,正常天气,121.629701,39.139352,121.658144,39.135721,1580523657,1580523658,1580523709,1580526417,1580524558,4df9946bb92f495035be19576fd2d828,374469acda40b1b0b5d34ab4a58cb194
3,100002543,1,2100074546118723550,正常天气,121.629701,39.139352,121.660584,39.130871,1580523868,1580523869,1580523889,1580526568,1580524589,1e774d8c07c353386658144a16dfd8c1,374469acda40b1b0b5d34ab4a58cb194
4,100002543,2,2100074572925863604,正常天气,121.642437,39.135199,121.656294,39.122061,1580549262,1580549263,1580549269,1580551902,1580550163,e4bc0664f82df5c8491cbb9f5bd4abb0,9265cec8aa44dceae0072716a3a7e58a

In [43]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7111 entries, 0 to 7110
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   courier_id            7111 non-null   int64
 1   wave_index            7111 non-null   int64
 2   tracking_id           7111 non-null   int64
 3   weather_grade         7111 non-null   object
 4   pick_lng              7111 non-null   float64
 5   pick_lat              7111 non-null   float64
 6   deliver_lng           7111 non-null   float64
 7   deliver_lat           7111 non-null   float64
 8   create_time           7111 non-null   int64
 9   confirm_time          7111 non-null   int64
 10  assigned_time         7111 non-null   int64
 11  promise_deliver_time  7111 non-null   int64
 12  estimate_pick_time    7111 non-null   int64
 13  aoi_id                7111 non-null   object
 14  shop_id               7111 non-null   object
dtypes: float64(4), int64(8), object(3)
memory usage: 833.4+ KB

In [44]:
df_order.nunique()

courier_id               665
wave_index                14
tracking_id             7111
weather_grade              2
pick_lng                2731
pick_lat                2728
deliver_lng             6132
deliver_lat             5922
create_time             6579
confirm_time            6548
assigned_time           5925
promise_deliver_time    6190
estimate_pick_time      6499
aoi_id                  4444
shop_id                 2763
dtype: int64

In [45]:
df_order[df_order.courier_id == 100002543]

,courier_id,wave_index,tracking_id,weather_grade,pick_lng,pick_lat,deliver_lng,deliver_lat,create_time,confirm_time,assigned_time,promise_deliver_time,estimate_pick_time,aoi_id,shop_id
0,100002543,0,2100074536706869066,正常天气,121.647214,39.135549,121.655694,39.123121,1580484067,1580484067,1580519088,1580521500,1580485567,4424963369d15e8900db6cfe732700c3,02615f185581167cc68ba41af3d25ce6
1,100002543,0,2100074542836254538,正常天气,121.647214,39.135549,121.647324,39.126481,1580517517,1580517517,1580518968,1580521500,1580519017,a986694f4dd7e70ea73e2261889cde81,02615f185581167cc68ba41af3d25ce6
2,100002543,1,2100074546090674142,正常天气,121.629701,39.139352,121.658144,39.135721,1580523657,1580523658,1580523709,1580526417,1580524558,4df9946bb92f495035be19576fd2d828,374469acda40b1b0b5d34ab4a58cb194
3,100002543,1,2100074546118723550,正常天气,121.629701,39.139352,121.660584,39.130871,1580523868,1580523869,1580523889,1580526568,1580524589,1e774d8c07c353386658144a16dfd8c1,374469acda40b1b0b5d34ab4a58cb194
4,100002543,2,2100074572925863604,正常天气,121.642437,39.135199,121.656294,39.122061,1580549262,1580549263,1580549269,1580551902,1580550163,e4bc0664f82df5c8491cbb9f5bd4abb0,9265cec8aa44dceae0072716a3a7e58a
5,100002543,2,2100074571487053444,正常天气,121.644819,39.136675,121.651244,39.125261,1580549551,1580549552,1580549569,1580552011,1580550272,07a9f773fcfb2d5366822b903700b291,d69c2340d3e9112b75a3e0d0ba5fc21a

In [47]:
df_courier = pd.read_csv('datalab/eleme_round1_train_20200313/courier/courier_20200201.txt')
df_courier.head()

   courier_id  level     speed  max_load
0   102697066      3  4.463724        11
1   117056801      2  4.773089         9
2   124001625      3  4.690581        11
3    10298963      3  4.401767        11
4    10632815      3  4.671927         8

In [48]:
df_courier.shape

(665, 4)

In [49]:
df_courier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   courier_id  665 non-null    int64
 1   level       665 non-null    int64
 2   speed       665 non-null    float64
 3   max_load    665 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 20.9 KB

In [50]:
df_courier.describe()

         courier_id       level       speed    max_load
count  6.650000e+02  665.000000  665.000000  665.000000
mean   8.120507e+07    2.502256    4.616242    9.055639
std    4.925013e+07    0.754751    0.244003    1.861524
min    1.000787e+07    0.000000    4.104971    2.000000
25%    1.069620e+07    2.000000    4.464788    8.000000
50%    1.117313e+08    3.000000    4.591465    9.000000
75%    1.187263e+08    3.000000    4.694609   10.000000
max    1.259969e+08    3.000000    6.313515   15.000000

In [51]:
test_action = pd.read_csv('datalab/eleme_round1_testA_20200313/action/action_20200301.txt')

In [52]:
test_action.head()

,courier_id,wave_index,tracking_id,courier_wave_start_lng,courier_wave_start_lat,action_type,expect_time
0,123679329,0,2100076032706380918,121.568537,39.149642,PICKUP,1583032448
1,123679329,0,2100076032706380918,121.568537,39.149642,DELIVERY,1583032876
2,123679329,0,2100076034795439761,121.568537,39.149642,PICKUP,1583033238
3,123679329,0,2100076033747224166,121.568537,39.149642,DELIVERY,0
4,123679329,0,2100076033747224166,121.568537,39.149642,PICKUP,0

In [53]:
test_action.shape

(7390, 7)

In [54]:
test_action[test_action.courier_id == 123679329]

,courier_id,wave_index,tracking_id,courier_wave_start_lng,courier_wave_start_lat,action_type,expect_time
0,123679329,0,2100076032706380918,121.568537,39.149642,PICKUP,1583032448
1,123679329,0,2100076032706380918,121.568537,39.149642,DELIVERY,1583032876
2,123679329,0,2100076034795439761,121.568537,39.149642,PICKUP,1583033238
3,123679329,0,2100076033747224166,121.568537,39.149642,DELIVERY,0
4,123679329,0,2100076033747224166,121.568537,39.149642,PICKUP,0
5,123679329,0,2100076034795439761,121.568537,39.149642,DELIVERY,0
6,123679329,4,2100076073295381547,121.568558,39.149740,PICKUP,1583055989
7,123679329,4,2100076073295381547,121.568558,39.149740,DELIVERY,1583056273
8,123679329,4,2100076073955099712,121.568558,39.149740,PICKUP,1583056603
9,123679329,4,2100076075949720640,121.568558,39.149740,DELIVERY,0
10,123679329,4,2100076075949720640,121.568558,39.149740,PICKUP,0
11,123679329,4,2100076073955099712,121.568558,39.149740,DELIVERY,0

In [55]:
test_action.action_type.value_counts()

PICKUP      3695
DELIVERY    3695
Name: action_type, dtype: int64

In [56]:
test_distance = pd.read_csv('datalab/eleme_round1_testA_20200313/distance/distance_20200301.txt')

In [57]:
test_distance.head()

,courier_id,wave_index,tracking_id,source_type,source_lng,source_lat,target_tracking_id,target_type,target_lng,target_lat,grid_distance
0,100006950,0,2100076028337521770,ASSIGN,121.41538,39.048661,2100076032019399862,DELIVERY,121.431104,39.038801,2778.0
1,100006950,0,2100076028337521770,ASSIGN,121.41538,39.048661,2100076028337521770,DELIVERY,121.445424,39.030201,4956.0
2,100006950,0,2100076028337521770,ASSIGN,121.41538,39.048661,2100076031141348641,DELIVERY,121.440344,39.044991,2610.0
3,100006950,0,2100076028337521770,ASSIGN,121.41538,39.048661,2100076032019399862,PICKUP,121.437105,39.045363,2484.0
4,100006950,0,2100076028337521770,ASSIGN,121.41538,39.048661,2100076029547709715,PICKUP,121.437147,39.045412,2484.0

In [59]:
test_distance[test_distance.courier_id == 123679329][test_distance.wave_index == 0]

/Users/kai/Workspace/ele-action/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,courier_id,wave_index,tracking_id,source_type,source_lng,source_lat,target_tracking_id,target_type,target_lng,target_lat,grid_distance
150330,123679329,0,2100076032706380918,ASSIGN,121.568537,39.149642,2100076034795439761,ASSIGN,121.567724,39.142876,835.0
150331,123679329,0,2100076032706380918,ASSIGN,121.568537,39.149642,2100076033747224166,DELIVERY,121.569914,39.154871,718.0
150332,123679329,0,2100076032706380918,ASSIGN,121.568537,39.149642,2100076034795439761,PICKUP,121.565643,39.144906,761.0
150333,123679329,0,2100076032706380918,ASSIGN,121.568537,39.149642,2100076032706380918,DELIVERY,121.565254,39.144061,890.0
150334,123679329,0,2100076032706380918,ASSIGN,121.568537,39.149642,2100076032706380918,PICKUP,121.569744,39.150219,197.0
...,...,...,...,...,...,...,...,...,...,...,...
150397,123679329,0,2100076034795439761,DELIVERY,121.567584,39.154921,2100076033747224166,ASSIGN,121.568623,39.149668,696.0
150398,123679329,0,2100076034795439761,DELIVERY,121.567584,39.154921,2100076032706380918,PICKUP,121.569744,39.150219,729.0
150399,123679329,0,2100076034795439761,DELIVERY,121.567584,39.154921,2100076033747224166,DELIVERY,121.569914,39.154871,361.0
150400,123679329,0,2100076034795439761,DELIVERY,121.567584,39.154921,2100076034795439761,PICKUP,121.565643,39.144906,1491.0
150401,123679329,0,2100076034795439761,DELIVERY,121.567584,39.154921,2100076033747224166,PICKUP,121.563812,39.150047,1132.0

需要判定骑士下一步需要做的动作以及更新期望时间